
body {
    background-image:url('background.jpg');
    background-repeat: repeat;
    text-align: center;         /* make sure IE centers the page too */
    height:100%;
    margin:auto;

}
 
#wrapper {
    width: 100%;
    height:35px;
    margin: 0 auto;             /* center the page */
}
 
#content {
    border: 1px solid #000;
    background-color: #a0b1c3;
    float: left;
    font-family: Arial;
    text-align: left;
    width: 100%; 
    margin:0 auto;               /* fill up the entire div */
}
 
#menu {
    float: left;
    border: 1px solid #000;
    border-bottom: none;        /* avoid a double border */
    clear: both;                /* clear:both makes sure the content div doesn't float next to this one but stays under it */
    width:100%;
    height:35px;
    padding: 0 30px;
    background-color: #FFF;
    text-align: left;
    font-size: 85%;
}
#menu a:hover {
    background-color: #009FC1;
}
 
#userbar {
    background-color: #fff;
    float: right;
    width: 400px;
}

h1{
    font-family: Arial;
    color: #F1F3F1;
    font-size:50px;
    text-align: left;
    margin-left: 100px;
}

/* Menu styles */

.item 
{
    background-color: #00728B;
    border: 1px solid #032472;
    color: #FFF;
    font-size:20px;
    font-family: Arial;
    padding: 10px 20px;
    text-decoration: none;
}


.form
{
    width:50%;
    background-color: #aaa;
    margin:auto;
}

.formelement
{
    width:50%;
    font-size:20px;
    color:white
    ;
    float:left;
    margin:10px 0;

}

.textbox
{
    width: 100%;
    padding: 6px 6px;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 4px;
    box-sizing: border-box;
}

.button
{
    width: 100%;
    background-color: #00728B;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 40px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 22px;
}

.button:hover
{
    background-color: #4CAF50
}

.footer
{
    width:100%;
    height:50px;
    padding:20px 0px;
    font-size:20px;
    color:white;
    float:left;
    text-align:center;
}

.left-menu 
{
    width:15%;
    text-align: left;  
    background-color: #a0b1c3;
    float:left;
}

th
{
    font-size:25px;
    padding:10px;
    color:white; 
    height:100%;
}

.left-menu td
{
    font-size:15px;
    font-color: #FFF;
}
table
{

    margin:50px auto;
    border-collapse: collapse;
    width:80%;
    overflow:auto;
    border-color:white;

}

.right-menu
{
     width:85%;
    text-align: left;  
    background-color: #a0b1c3;
 
    height:100%;
    padding-bottom:200px;
    float:right;
}

.right-menu tr
{
font-size: 20px;
margin-left:10px;

}


.right-menu tr:nth-child(even) 
{
    background-color: #f2f2f2
}

.right-menu tr:nth-child(odd) 
{
    background-color: #d2d2d2
}
.right-menu td
{
    padding: 10px 5px;
}

table a
{
    text-decoration: none;
    padding-left: 10 px ;
    font-color: #123883;
}

.right-menu th
{
    background-color:#4CAF50;
    color: white;
}

.right-menu h2
{
    margin-left:200px;
    color:#ab33fa;
    font-size:40px;
}